body {
  background-image: none !important;
}

.topstuff {
  font-size: 50px;
  /**font-family: 'Open Sans', sans-serif;**/
  font-family: 'Lobster', cursive;
  color: white;
  text-align: center;
}

#flav1 {
  position: absolute;
  top: 135px;
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 100%;
  background-image: url('./images/icecream1.jpg');
  background-position: right 50%;
  font-size: 5em;
  color: white;
}

p {
  opacity: 1;
  font-size: .4em !important;
}

#flav1 > .mask {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  opacity: .7;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: translateX(-110%);
  font-size: 1em;
}

#flav1:hover .mask{
  -webkit-transform: translateX(0%);
  color: black;
  opacity: .8;
}

#flav1:hover {
  color: transparent;
}

#flav2 {
  position: absolute;
  top: 345px;
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 100%;
  background-image: url('./images/icecream9.JPG');
  background-position: right;
  font-size: 5em;
  color: white;
}

#flav2 > .mask {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  opacity: .7;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: translateX(-110%);
  font-size: 1em;
}

#flav2:hover .mask{
  -webkit-transform: translateX(0%);
  color: black;
  opacity: .8;
}

#flav2:hover {
  color: transparent;
}

#flav3 {
  position: absolute;
  top: 555px;
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 100%;
  background-image: url('./images/icecream8.jpg');
  background-position: 90% 50%;
  font-size: 5em;
  color: white;
}

#flav3 > .mask {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  opacity: .7;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: translateX(-110%);
  font-size: 1em;
}

#flav3:hover .mask{
  -webkit-transform: translateX(0%);
  color: black;
  opacity: .8;
}

#flav3:hover {
  color: transparent;
}

#flav4 {
  position: absolute;
  top: 765px;
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 100%;
  background-image: url('./images/icecream4.jpg');
  background-position: right 50%;
  font-size: 5em;
  color: white;
}

#flav4 > .mask {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  opacity: .7;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: translateX(-110%);
  font-size: 1em;
}

#flav4:hover .mask{
  -webkit-transform: translateX(0%);
  color: black;
  opacity: .8;
}

#flav4:hover {
  color: transparent;
}

#flav5 {
  position: absolute;
  top: 975px;
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 100%;
  background-image: url('./images/icecream5.jpg');
  background-position: right 50%;
  font-size: 5em;
  color: white;
}

#flav5 > .mask {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  opacity: .7;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: translateX(-110%);
  font-size: 1em;
}

#flav5:hover .mask{
  -webkit-transform: translateX(0%);
  color: black;
  opacity: .8;
}

#flav5:hover {
  color: transparent;
}

#flav6 {
  position: absolute;
  top: 1185px;
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  width: 100%;
  background-image: url('./images/icecream7.jpg');
  background-position: right 50%;
  font-size: 5em;
  color: white;
}

#flav6 > .mask {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  opacity: .7;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: translateX(-110%);
  font-size: 1em;
}

#flav6:hover .mask{
  -webkit-transform: translateX(0%);
  color: black;
  opacity: .8;
}

#flav6:hover {
  color: transparent;
}


/** responsive stuffs **/

/*Retina Screens Code*/
@media only screen and (min-resolution: 200dpi), (min-width:1024px) {

}

@media only screen and (max-width:1024px) {

}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3) {



}

/** cell devices **/
@media only screen and (max-width:800px) {

  #flav1, #flav2, #flav3, #flav4, #flav5, #flav6 {
    font-size: 40px;
  }

  #flav1:active .mask{
    -webkit-transform: translateX(0%);
    color: black;
    opacity: .8;
  }

  #flav1:active {
    color: transparent;
  }

}
