/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: url("icecream.jpg") no-repeat center center fixed;
  background-color: #d9b499;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 25px;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #3e1613;
  font-size: 1.0em;
  margin-left: 10px;
  margin-right: 10px;
}
#wrapper {
  width: 80%;
  margin: 0px auto;
}
.logo {
  float: left;
}
footer {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 85%;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
.content {
  border-radius: 25px;
  background-color: white;
  opacity: 0.85;
  padding: 20px
}
.margin {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 3px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 3px;
}
#navbar ul {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 0px;
  margin-top: 0;
  margin-left: 0;
  /*Transparency value here*/
  background: rgba(140, 99, 81, 0.90);
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-size: 16px;
}
#navbar ul li {
  display: inline;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  /* matches link padding except for left and right */
  padding-top: 5px;
}
#navbar ul li a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: #dedede;
}
/*Retina Screens Code*/

@media only screen and (min-resolution: 200dpi), (min-width: 1024px) {
  p {
    font-size: 120%;
    line-height: 1.4;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 1024px) {
  p {
    font-size: 105%;
    line-height: 1.2;
    margin-bottom: 1em;
  }
  .image {
    width: 50%;
  }
  #navbar ul {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .image {
    width: 40%;
  }
  p {
    font-size: 105%;
    line-height: 1.4;
    margin-bottom: 2em;
  }
  #wrapper {
    width: 95%;
    margin: 0px auto;
  }
  #navbar ul {
    font-size: 12px;
  }

  .logo{
    visibility: hidden;
  }
  iframe{
    max-width:100%;
  }
}
@media only screen and (max-width: 420px) {
  .image {
    float: none;
    width: 60%;
  }
  #wrapper {
    width: 100%;
    margin: 0px auto;
  }
  p {
    font-size: 105%;
    line-height: 1.5;
    margin-bottom: 2em;
  }
  .content {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.85;
  }
  .margin {
    padding: 10px;
  }
  body {
    background-image: url("");
    padding-top: 75px;
    padding-bottom: 0px;
  }
  #navbar ul {
    /*Transparency value here*/
    background: rgba(140, 99, 81, 1.00);
    line-height: 8px;
    font-size: 14px;
  }
  .logo{
    visibility: hidden;
  }
  iframe{
    max-width: 350px;
  }
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7 {
  display: none;
}

.question {
  font-size: 2em;
  width: 90%;
  padding: 10px;
  background-color: #d9b499;
  border-radius: 5px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  opacity: 1 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.answer{
  line-height: 1.4 !important;
  word-wrap:normal;
  font-size: .5em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topstuff {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  margin: 10px;
}

.logo {
    position: absolute;
    top: 7%;
    left: 1%;
    width: 7%;
    float: left;
    z-index: 5000;
    margin-left: 0 !important;
}

iframe{
  width: 600px;
  height: 450px;
  border:0;
}
