body {
  font-family: 'Roboto', sans-serif;
  height: 1000px;
  padding: 0;
  margin: 0;
  text-align: center;
  background-image : url('../assets/train.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#box{
  margin: 100px auto 100px auto;
  text-align: center;
  background-color: #55134e;
  color: white;
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-weight: 900;
  letter-spacing: 10px;
}

nav ul {
  margin: auto;
  width: 100%;
  padding: 10px;
}

nav ul li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  width: auto;
  margin: 10%;
  font-size: 15pt;

}

a {
    text-decoration: none;
    color: white;

}

a.visited {
    text-decoration: none;
    color: white;
}

#info{
  text-align: center;
  padding: 30px;
  background-color: #a0596b;
  color: white;
  width: 30%;
  display: none;
  word-wrap: break-word;
  border: 1px;
}
