body {
  background-image: url('../assets/Icecream3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Homemade Apple', cursive;
}
.lside {
    float: left;
    width: 10%;
    padding: 0 20px 0 10px;
}

.main {
    float: left;
    width: 75%;
    padding: 0 20px 0 20px;
    border-left: dashed 1px rgb(153,153, 153);
    border-right: dashed 1px rgb(153,153, 153);
}

.rside {
    float: right;
    width: 10%;
    padding: 0 10px 0 20px;
}
