*{
    margin:0px;
    padding:0px;
    border:none;
    text-decoration: none;
}

body {
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        100%;
}

header {
  background-color: #fff;
  padding:12px;
  overflow:auto;
  clear:both;
}

#wrapper{
    width:90%;
    margin:0px auto;
}

article {
  background-color: #efe5d0;
  font-size:        105%;
  padding:          15px;
  overflow: auto;
}

#headerimg img{
    float:left;
}
footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px auto;
  font-size:        90%;
}
dt {
  font-size:1.4em;
  font-weight:700;
  margin:1em 0 .8em;
}
.text{
  min-height:270px;
  line-height:1.4;
}
.image{
  float:right;
}


footer{
    clear:both;
}
@media only screen and (min-width:801px) {
 body{ background-color:cornflowerblue;}

}

@media only screen and (max-width:800px) {
 body{ background-color:pink;}
 .image{
   width: 40%;
 }
}

@media only screen and (max-width:420px) {
    body{  background-color: #b5a789;}
    .image{
      float: none;
      width: 80%;
    }

}
